* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.App {
  text-align: center;
  background: rgb(222, 66, 66);
  background: linear-gradient(90deg, rgba(222, 66, 66, 1) 0%, rgba(212, 32, 32, 1) 94%);
}